/* Add a black background color to the top navigation */
  .topnav {
  background-color: #0000ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:sans-serif
}

/* Change the color of links on hover */
  .topnav a:hover {
  background-color: #ADD8E6;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ADD8E6;
  color: black;
}

.button {
background-color: blue;
border: 12px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-family:sans-serif
}
